$pink: hsl(322, 100%, 66%);
$light-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$font-open: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-size: 18px;